In [8]:
import pandas as pd 
import numpy as np

In [55]:
a = list('fmfmmfa')
a

['f', 'm', 'f', 'm', 'm', 'f', 'a']

In [56]:
s = pd.Series(a)
s[7] = np.NaN
s

0      f
1      m
2      f
3      m
4      m
5      f
6      a
7    NaN
dtype: object

In [57]:
q =pd.get_dummies(s)
q

   a  f  m
0  0  1  0
1  0  0  1
2  0  1  0
3  0  0  1
4  0  0  1
5  0  1  0
6  1  0  0
7  0  0  0

In [58]:
q =pd.get_dummies(s ,dummy_na = True)
q

   a  f  m  NaN
0  0  1  0    0
1  0  0  1    0
2  0  1  0    0
3  0  0  1    0
4  0  0  1    0
5  0  1  0    0
6  1  0  0    0
7  0  0  0    1

In [59]:
q =pd.get_dummies(s ,dummy_na = True , prefix = "gender")
q

   gender_a  gender_f  gender_m  gender_nan
0         0         1         0           0
1         0         0         1           0
2         0         1         0           0
3         0         0         1           0
4         0         0         1           0
5         0         1         0           0
6         1         0         0           0
7         0         0         0           1

In [23]:
import pandas as pd
import numpy as np

In [35]:
a=list('fmfmmfa')
b=list('pfpfpfp')
s1 =pd.Series(a)
s1
s2 =pd.Series(b)
s2

0    p
1    f
2    p
3    f
4    p
5    f
6    p
dtype: object

In [36]:
df = pd.DataFrame({'gen':s1,'result':s2})
df

  gen result
0   f      p
1   m      f
2   f      p
3   m      f
4   m      p
5   f      f
6   a      p

In [37]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
#OneHotEncoder -> class-> object

In [40]:
ohe =OneHotEncoder()
ohe

OneHotEncoder()

In [41]:
# fit -> devide in cat
#tranform -> convert it give it us

In [42]:
ohe.fit(df)

OneHotEncoder()

In [43]:
w = ohe.transform(df)

In [53]:
w.toarray()
e= w.toarray()

In [50]:
ohe.get_feature_names_out()

array(['gen_a', 'gen_f', 'gen_m', 'result_f', 'result_p'], dtype=object)

In [54]:
t = pd.DataFrame(e, columns = ohe.get_feature_names_out())
t

   gen_a  gen_f  gen_m  result_f  result_p
0    0.0    1.0    0.0       0.0       1.0
1    0.0    0.0    1.0       1.0       0.0
2    0.0    1.0    0.0       0.0       1.0
3    0.0    0.0    1.0       1.0       0.0
4    0.0    0.0    1.0       0.0       1.0
5    0.0    1.0    0.0       1.0       0.0
6    1.0    0.0    0.0       0.0       1.0