In [1]:
from sklearn.datasets import make_classification
from sklearn.utils import resample
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = make_classification()

In [4]:
data = make_classification(n_samples= 1000 , n_features =10, n_classes =2 ,weights=[0.8,0.2])

In [5]:
X =data[0]
y=data[1]

In [11]:
df =pd.DataFrame(X ,columns =["col_{}".format(i+1) for i in range(len(X[0]))])

In [12]:
df['target']  = y

In [13]:
df.head()

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,target
0,-0.898104,-4.010096,-4.104219,-0.631918,-2.133803,0.631492,1.116888,1.596805,-2.966709,1.441193,0
1,-1.161679,0.838562,0.574661,-1.169198,-0.366127,-0.568224,0.469030,-0.297556,0.483874,-0.392281,0
2,1.520445,2.287662,2.155628,-0.491801,0.928517,-0.593871,0.892843,0.422572,1.603035,0.663592,0
3,-0.039135,-1.995734,-2.143090,-0.775733,-0.858644,1.416581,0.650984,-0.733572,-1.524846,-0.000585,0
4,-0.865635,2.711717,3.159821,2.191551,0.034961,0.035676,1.989199,-0.620923,2.191213,0.323001,1

In [9]:
inp =input("Enter name :")
name = "My name is {}".format(inp)

Enter name :shreekant

In [10]:
name

'My name is shreekant'

In [14]:
# Down -sampling ----> Delecting rows from big class
# Data became less

# Up-sampling----> Duplicating Random rows from small class 
# Data beame double

In [15]:
zero =df[df["target"]==0]
one = df[df["target"]==1]

In [16]:
down = resample(zero, replace=False,n_samples=len(one))

In [17]:
down

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,target
667,0.992055,-0.991062,-1.187381,-0.950320,0.713418,0.136261,0.192405,-0.224314,-0.816499,-1.886232,0
891,-0.176197,1.754989,1.581829,-0.707087,-1.432915,1.016402,-0.474808,-0.030205,1.195180,-0.460185,0
645,0.187501,1.290102,1.047791,-1.047607,-0.075045,0.812800,-0.900813,-0.465381,0.823219,0.200109,0
506,1.944992,-1.921368,-2.109851,-0.960760,-0.825562,-0.719952,-0.750217,1.245295,-1.490466,-0.144499,0
757,0.174097,-0.992790,-1.201190,-1.005842,1.597670,1.302649,-0.513299,1.312261,-0.823573,-1.084802,0
...,...,...,...,...,...,...,...,...,...,...,...
211,0.064517,1.250645,1.050623,-0.855510,-0.496253,-0.893668,-0.547564,1.311363,0.814830,-0.591010,0
735,-0.991615,1.094629,0.726135,-1.636395,-1.693635,-0.920318,0.770333,0.382827,0.620076,-0.055004,0
846,0.351206,-1.893822,-2.076184,-0.931294,0.597098,0.724598,-1.627516,-0.040609,-1.467452,0.840760,0
681,-1.058650,0.180768,0.020239,-0.727636,-1.445893,-0.238674,0.110872,1.498673,0.054421,1.280695,0
557,0.176336,1.206509,0.898423,-1.353607,2.365847,-1.221980,-1.063642,-0.497422,0.730659,-2.097492,0

In [18]:
len(one)

205

In [20]:
down_samples=pd.concat([one,down], axis=0)

In [21]:
down_samples

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,target
4,-0.865635,2.711717,3.159821,2.191551,0.034961,0.035676,1.989199,-0.620923,2.191213,0.323001,1
9,-0.061697,-0.392303,-0.169095,1.004715,0.042853,-0.207394,-0.899997,0.688481,-0.178356,-0.860514,1
10,-1.923461,-3.440692,-2.972898,1.975069,-0.930797,0.748566,1.446572,-1.545987,-2.281413,0.660952,1
17,0.004021,-0.473744,-0.249264,1.006489,-0.199894,-0.157677,1.241441,0.171672,-0.237075,-3.230835,1
22,0.159058,0.747868,0.909111,0.777230,-1.691246,0.366388,0.710248,-0.276442,0.622445,0.679081,1
...,...,...,...,...,...,...,...,...,...,...,...
211,0.064517,1.250645,1.050623,-0.855510,-0.496253,-0.893668,-0.547564,1.311363,0.814830,-0.591010,0
735,-0.991615,1.094629,0.726135,-1.636395,-1.693635,-0.920318,0.770333,0.382827,0.620076,-0.055004,0
846,0.351206,-1.893822,-2.076184,-0.931294,0.597098,0.724598,-1.627516,-0.040609,-1.467452,0.840760,0
681,-1.058650,0.180768,0.020239,-0.727636,-1.445893,-0.238674,0.110872,1.498673,0.054421,1.280695,0
557,0.176336,1.206509,0.898423,-1.353607,2.365847,-1.221980,-1.063642,-0.497422,0.730659,-2.097492,0

In [23]:
up = resample(one, replace=True,n_samples=len(zero))

In [24]:
up

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,target
320,0.030218,-0.685363,-0.943762,-1.219955,0.477402,0.378255,-1.616502,-0.116330,-0.623676,1.619283,1
603,-0.078900,-0.485088,-0.516208,-0.167001,-0.233516,-0.444303,0.365756,-0.488890,-0.368372,0.617572,1
370,0.577518,1.803116,2.090806,1.410114,-0.757406,-0.560629,-1.284360,-0.880335,1.452071,1.334228,1
606,0.391600,0.368160,0.550523,0.855206,-0.999687,-0.424839,-0.537546,0.896632,0.355989,0.977980,1
919,0.821996,2.033671,2.296100,1.305689,-0.251141,0.803087,1.346824,0.101060,1.607874,2.330383,1
...,...,...,...,...,...,...,...,...,...,...,...
324,0.040106,2.142908,2.590434,2.160535,-0.079113,1.173472,-0.651397,-0.386993,1.776551,-0.459019,1
103,1.500982,-1.729275,-1.760458,-0.229339,0.264082,0.773176,0.925869,0.096830,-1.274808,-0.666259,1
113,-0.060909,-1.797210,-1.491116,1.315004,-0.053950,-1.203663,-0.659166,0.851534,-1.161951,0.631943,1
926,0.765998,0.419791,0.539216,0.568968,-1.142366,1.908199,-0.058413,-1.880645,0.363308,0.491104,1
62,0.480930,-1.859283,-1.540285,1.371126,-0.144569,0.638901,0.457917,-0.044408,-1.200961,1.336216,1

In [25]:
up_samples=pd.concat([zero,up], axis=0)

In [26]:
up_samples

,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,target
0,-0.898104,-4.010096,-4.104219,-0.631918,-2.133803,0.631492,1.116888,1.596805,-2.966709,1.441193,0
1,-1.161679,0.838562,0.574661,-1.169198,-0.366127,-0.568224,0.469030,-0.297556,0.483874,-0.392281,0
2,1.520445,2.287662,2.155628,-0.491801,0.928517,-0.593871,0.892843,0.422572,1.603035,0.663592,0
3,-0.039135,-1.995734,-2.143090,-0.775733,-0.858644,1.416581,0.650984,-0.733572,-1.524846,-0.000585,0
5,0.183710,0.111099,-0.167403,-1.272478,-1.758211,0.070810,-0.509065,0.748085,-0.053120,-1.099287,0
...,...,...,...,...,...,...,...,...,...,...,...
324,0.040106,2.142908,2.590434,2.160535,-0.079113,1.173472,-0.651397,-0.386993,1.776551,-0.459019,1
103,1.500982,-1.729275,-1.760458,-0.229339,0.264082,0.773176,0.925869,0.096830,-1.274808,-0.666259,1
113,-0.060909,-1.797210,-1.491116,1.315004,-0.053950,-1.203663,-0.659166,0.851534,-1.161951,0.631943,1
926,0.765998,0.419791,0.539216,0.568968,-1.142366,1.908199,-0.058413,-1.880645,0.363308,0.491104,1
62,0.480930,-1.859283,-1.540285,1.371126,-0.144569,0.638901,0.457917,-0.044408,-1.200961,1.336216,1